@font-face {
    font-family: 'SFUIDisplay-Regular';
    src: url('../fonts/SFUIDisplay-Regular/SFUIDisplayRegular.woff2') format('woff2');
    src: url('../fonts/SFUIDisplay-Regular/SFUIDisplayRegular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'SFUIDisplay-Semibold';
    src: url('../fonts/SFUIDisplay-SemiBold/SFUIDisplaySemibold.woff2') format('woff2');
    src: url('../fonts/SFUIDisplay-SemiBold/SFUIDisplaySemibold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'SFUIDisplay-Bold';
    src: url('../fonts/SFUIDisplay-Bold/SFUIDisplayBold.woff2') format('woff2');
    src: url('../fonts/SFUIDisplay-Bold/SFUIDisplayBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'SFUIDisplay-Light';
    src: url('../fonts/SFUIDisplay-Light/SFUIDisplay-Light.woff2') format('woff2');
    src: url('../fonts/SFUIDisplay-Light/SFUIDisplay-Light.woff') format('woff');
    font-display: swap;
}
