$default: "SFUIDisplay-Regular";
$semiBold: "SFUIDisplay-Semibold";
$bold: "SFUIDisplay-Bold";
$light: "SFUIDisplay-Light";

$titleColor: #000;
$textColor: #000;

$green__palletColor1: #9bc464;
$green__palletColor2: #98bf41;
$green__palletColor3: #88c238;
$green__palletColor4: #79b422;
$green__palletColor5: #78b220;
$green__palletColor6: #789d2b;
$green__palletColor7: #4a7c3d;
$green__palletColor8: #5f8a87;
