.btn {
	$height: 45px;
	$width: 150px;
	$borderRadius: 22px;
	$fontSize: 14px;
	$letterSpacing: 1px;
	$padding: 0 35px;
	$boxShadow: 0 8px 15px 10px rgba(0,0,0,0.1);

	height: $height;
	min-width: $width;
	font-size: $fontSize;
	font-family: $default;
	border-radius: $borderRadius;
	letter-spacing: $letterSpacing;
	box-shadow: $boxShadow;
	padding: $padding;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	cursor: pointer;
	border: none;
	position: relative;
	z-index: 1;
	transition-delay: 0.15s;
	overflow: hidden;
	background-color: transparent;
	transition: all 0.5s  ease-in-out;

	&:focus{
		outline:0;
	}
}
